@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "PT Sans Caption", sans-serif;
  color: #364844;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
body header .header_wrapper {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  padding: 10px 0;
}
body header .header_wrapper .head_first {
  display: flex;
  gap: 40px;
}
body header .header_wrapper .head_first .logo {
  font-weight: 700;
  font-size: 30px;
  color: #0DBC91;
  cursor: pointer;
}
body header .header_wrapper .head_first .address_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
body header .header_wrapper .head_first .address_wrapper .vector {
  height: 18px;
}
body header .header_wrapper .head_first .address_wrapper .address {
  font-size: 14px;
  text-decoration: none;
}
body header .header_wrapper .head_first .address_wrapper .address .city {
  color: #364844;
}
body header .header_wrapper .head_first .address_wrapper .address .street {
  color: #868686;
}
body header .header_wrapper .head_second {
  display: flex;
  gap: 40px;
}
body header .header_wrapper .head_second .call {
  display: flex;
  gap: 10px;
  align-items: center;
}
body header .header_wrapper .head_second .call .icon_case {
  display: flex;
}
body header .header_wrapper .head_second .call .icon_case .icon {
  width: 27px;
}
body header .header_wrapper .head_second .call .phone {
  text-decoration: none;
  color: #364844;
}
body header .header_wrapper .head_second .request_head {
  font-size: 14;
  background-color: #0DBC91;
  color: white;
  border: 0;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
body header .links_wrapper {
  background-color: #1FA181;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
body header .links_wrapper .links {
  width: 70vw;
  display: flex;
  gap: 20px;
  color: white;
  font-size: 14px;
}
body header .links_wrapper .links .link {
  cursor: pointer;
}
body main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body main .banner_wrapper {
  display: flex;
  background-color: #F8FBFA;
}
body main .banner_wrapper .banner_info_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .banner_wrapper .banner_info_wrapper .banner_info {
  height: -moz-max-content;
  height: max-content;
  width: 60%;
}
body main .banner_wrapper .banner_info_wrapper .banner_info .banner_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 46.62px;
  margin: 20px 0;
}
body main .banner_wrapper .banner_info_wrapper .banner_info .banner_text {
  margin: 20px 0;
}
body main .banner_wrapper .banner_img_case {
  max-width: 50vw;
  display: flex;
}
body main .banner_wrapper .banner_img_case .banner_img {
  width: 100%;
}
body main #slider {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  text-align: center;
}
body main #slider input[type=radio] {
  display: none;
}
body main #slider label {
  cursor: pointer;
  text-decoration: none;
}
body main #slider #slides {
  padding: 10px;
  border: 3px solid #ccc;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
body main #slider #slides #overflow {
  width: 100%;
  overflow: hidden;
}
body main #slider #slides #overflow .inner {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
  line-height: 0;
  height: 200px;
}
body main #slider #slides #overflow .inner .slide {
  width: 25%;
  float: left;
  display: block;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #slider #slides #overflow .inner .slide .slide_content {
  padding: 10px;
}
body main #slider #slides #overflow .inner .slide_1 {
  background-color: #00171f;
}
body main #slider #slides #overflow .inner .slide_2 {
  background-color: #003459;
}
body main #slider #slides #overflow .inner .slide_3 {
  background-color: #007ea7;
}
body main #slider #slides #overflow .inner .slide_4 {
  background-color: #00a8e8;
}
body main #slider #slide1:checked ~ #slides .inner {
  margin-left: 0;
}
body main #slider #slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
body main #slider #slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
body main #slider #slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
body main #slider #slide1:checked ~ #controls label:nth-child(2),
body main #slider #slide2:checked ~ #controls label:nth-child(3),
body main #slider #slide3:checked ~ #controls label:nth-child(4),
body main #slider #slide4:checked ~ #controls label:nth-child(1) {
  background: url("../images/next.png") no-repeat;
  float: right;
  margin: 0 -50px 0 0;
  display: block;
}
body main #slider #slide1:checked ~ #controls label:nth-last-child(1),
body main #slider #slide2:checked ~ #controls label:nth-last-child(4),
body main #slider #slide3:checked ~ #controls label:nth-last-child(3),
body main #slider #slide4:checked ~ #controls label:nth-last-child(2) {
  background: url("../images/prev.png") no-repeat;
  float: left;
  margin: 0 0 0 -50px;
  display: block;
}
body main #slider #controls {
  margin: -130px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
body main #slider #controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;
}
body main #slider #controls label:hover {
  opacity: 1;
}/*# sourceMappingURL=styles.css.map */