@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'PT Sans Caption', sans-serif;
    color: #364844;
    user-select: none;

    header {
        display: flex;
        align-items: center;
        flex-direction: column;
        .header_wrapper {
            display: flex;
            justify-content: space-between;
            width: 70vw;
            padding: 10px 0;
            .head_first {
                display: flex;
                gap: 40px;
                .logo {
                    font-weight: 700;
                    font-size: 30px;
                    color: #0DBC91;
                    cursor: pointer;
                }
                .address_wrapper {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .vector {
                        height: 18px;
                    }
                    .address {
                        font-size: 14px;
                        text-decoration: none;
                        .city {
                            color: #364844;
                        }
                        .street {
                            color: #868686;
                        }
                    }
                }
            }
            .head_second {
                display: flex;
                gap: 40px;
                .call {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    .icon_case {
                        display: flex;
                        .icon {
                            width: 27px;
                        }
                    }
                    .phone {
                        text-decoration: none;
                        color: #364844;
                    }
                }
                .request_head {
                    font-size: 14;
                    background-color: #0DBC91;
                    color: white;
                    border: 0;
                    border-radius: 20px;
                    padding: 10px 20px;
                    cursor: pointer;
                }
            }
        }
        .links_wrapper {
            background-color: #1FA181;
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 10px 0;
            .links {
                width: 70vw;
                display: flex;
                gap: 20px;
                color: white;
                font-size: 14px;
                .link {
                    cursor: pointer;
                }
            }
        }
    }
    main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        .banner_wrapper {
            display: flex;
            background-color: #F8FBFA;
            .banner_info_wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                .banner_info {
                    height: max-content;
                    width: 60%;
                    .banner_title {
                        font-weight: 700;
                        font-size: 36px;
                        line-height: 46.62px;
                        margin: 20px 0;
                    }
                    .banner_text {
                        margin: 20px 0;
                    }
                }
            }
            .banner_img_case {
                max-width: 50vw;
                display: flex;
                .banner_img {
                    width: 100%;
                }
            }
        }
        #slider {
            margin: 0 auto;
            width: 800px;
            max-width: 100%;
            text-align: center;
            input[type=radio] {
                display: none;
            }
            label {
                cursor: pointer;
                text-decoration: none;
            }
            #slides {
                padding: 10px;
                border: 3px solid #ccc;
                background-color: #fff;
                position: relative;
                z-index: 1;
                #overflow {
                    width: 100%;
                    overflow: hidden;
                    .inner {
                        transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
                        width: 400%;
                        line-height: 0;
                        height: 200px;
                        .slide {
                            width: 25%;
                            float: left;
                            display: block;
                            height: 100%;
                            color: #fff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .slide_content {
                                padding: 10px;
                            }
                        }
                        .slide_1 {
                            background-color: #00171f;
                        }
                        .slide_2 {
                            background-color: #003459;
                        }
                        .slide_3 {
                            background-color: #007ea7;
                        }
                        .slide_4 {
                            background-color: #00a8e8;
                        }
                    }
                }
            }
            #slide1:checked ~ #slides .inner{
                margin-left: 0;
            }
            #slide2:checked ~ #slides .inner{
                margin-left: -100%;
            }
            #slide3:checked ~ #slides .inner{
                margin-left: -200%;
            }
            #slide4:checked ~ #slides .inner{
                margin-left: -300%;
            }
            #slide1:checked ~ #controls label:nth-child(2),
            #slide2:checked ~ #controls label:nth-child(3),
            #slide3:checked ~ #controls label:nth-child(4),
            #slide4:checked ~ #controls label:nth-child(1) {
                background: url("../images/next.png") no-repeat;
                float: right;
                margin: 0 -50px 0 0;
                display: block;
            }
            #slide1:checked ~ #controls label:nth-last-child(1),
            #slide2:checked ~ #controls label:nth-last-child(4),
            #slide3:checked ~ #controls label:nth-last-child(3),
            #slide4:checked ~ #controls label:nth-last-child(2) {
                background: url("../images/prev.png") no-repeat;
                float: left;
                margin: 0 0 0 -50px;
                display: block;
            }
            #controls {
                margin: -130px 0 0 0;
                width: 100%;
                height: 50px;
                z-index: 3;
                position: relative;
                label {
                    transition: opacity 0.2s ease-out;
                    display: none;
                    width: 50px;
                    height: 50px;
                    opacity: .4;
                }
                label:hover {
                    opacity: 1;
                }
            }
        }
    }
}